<div class="container">
    <div class="weather-detail">
        <h3>شهر : {{ city }}</h3>
        <h3>دمای فعلی : {{ temp }} فارنهایت</h3>
        <h3>جداکثر دما : {{ temp_max }} فارنهایت</h3>
        <h3>حداقل اما : {{ temp_min }} فارنهایت</h3>
        <h3>احساس واقعی : {{ feels_like }} فارنهایت</h3>
        <h3>سرعت وزش باد : {{ wind }}</h3>
        <h3>رطوبت : %{{ humidity }}</h3>
        <h3>فشار : {{ pressure }} پاسکال</h3>
        <h3>وضعیت : {{ description }}</h3>
        <button routerLink="">بازگشت به صفحه اصلی</button>

    </div>
</div>
